/* .main-block__select-color-item {
    width: 24px;
    height: 24px;
    border: 2px solid #FFFFFF;
    border-radius: 1px;
}

.main-block__select-color-item:nth-child(n+2) {
    margin-left: 8px;
}

.main-block__select-color-item_active {
    border: 2px solid #94CEA3;
}

.custom-grout-color-block__modul-window {
    visibility: hidden;
    height: 0;
}

.custom-grout-color-block__modul-window-show {
    visibility: visible;
    position: absolute;
}

.modul-window {
    min-width: 264px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
    border: 0.5px solid rgba(234, 236, 238, 0.5);
    border-radius: 4px;
    padding: 0;
}

.modul-window__header {
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.modul-window__header>.icon-clear {
    color: #4F5B67;
    font-weight: 600;
    cursor: pointer;
}

.modul-window__picker {
    width: 100%;
}

.modul-window__action-zone {
    margin: 24px;
    margin-bottom: 12px;
}

.modul-window__closest-grout-color {
    margin: 0 24px;
    margin-bottom: 24px;
}

.title {
    color: #4F5B67;
}

.modul-window__title {
    margin-bottom: 16px;
}

.grout-color-block__select-colors {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.button {
    margin: 0 auto;
    border-radius: 4px;
    padding: 13px 20px;
    text-align: center;
    width: 100%;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.button_active {
    background: #4CAD66;
    color: #FFFFFF;
}

.custom-chrome-picker {
    width: 100% !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    box-sizing: initial !important;
    margin-bottom: 15px;
}

.flexbox-fix:nth-child(2) {
    display: none !important;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
} */

.modal-window {
    position: absolute;
    background: #FFFFFF;
    border: 0.5px solid rgba(234, 236, 238, 0.5);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal-window__header {
    display: flex;
    justify-content: flex-end;
    margin: 10.51px;
}

.modal-window__palitra {
    margin-bottom: 24px;
}

.modal-window__palitra {
    height: 100px;
    background-color: red;
}

.modal-window__matching-block {
    padding: 0 24px 12px;
}

.modal-window__matching-block-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.modal-window__title {
    margin-bottom: 16px;
}

.modal-window__info {
    position: relative;
}

.modal-window__info-icon {
    color: #A8B0B9;
    font-size: 11.38px;
}

.modal-windows__info-title {
    position: absolute;
    top: -50px;
    left: 5px;
    display: none;
    min-width: 114px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #EAECEE;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 4px 4px 4px 0px;
    text-align: center;
}

.modal-windows__info-title-text {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.0285em;
    color: #4F5B67;
}

.modal-window__info-icon:hover+.modal-windows__info-title {
    display: block;
}

.modal-window__matching-colors {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 24px;
}

.modal-window__matching-colors .grout-color__user-palitra-block:nth-child(n+2) {
    margin-left: 12px;
}

.button {
    padding: 13px 20px;
    text-align: center;
    border-radius: 4px;
    border: none;
}

.button_active {
    background: #4CAD66;
    color: #FFFFFF;
    cursor: pointer;
}

.modal-window__button {
    box-sizing: border-box;
    width: 100%;
}