*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'General Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.container {
  max-width: 264px;
}

.title {
  text-align: left;
  color: #4F5B67;
}

.grout-color {
  position: relative;
  padding: 24px;
}

.grout-color__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 16px;
}

.grout-color__user-palitra {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.grout-color__user-palitra-block {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  flex-shrink: 0;
  cursor: pointer;
}

.grout-color__user-palitra .grout-color__user-palitra-block:nth-child(n+2) {
  margin-left: 12px;
}

.grout-color__user-palitra-block_active {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.grout-color__user-palitra-block_active::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border: 2px solid #94CEA3;
  border-radius: 1px;
}

.grout-color__user-custom-color-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.grout-color__user-custom-color-block .grout-color__user-palitra-block {
  cursor: auto;
}

.grout-color__user-selected-color-name {
  flex-grow: 1;
  margin-left: 8px;
}

.grout-color__open-modal-window {
  margin-right: 2px;
}

.icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

.icon {
  color: #4F5B67;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}