@font-face {
    font-family: 'icomoon';
    src: url('../public/fonts/icomoon.eot?n85fol');
    src: url('../public/fonts/icomoon.eot?n85fol#iefix') format('embedded-opentype'),
        url('../public/fonts/icomoon.ttf?n85fol') format('truetype'),
        url('../public/fonts/icomoon.woff?n85fol') format('woff'),
        url('../public/fonts/icomoon.svg?n85fol#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left2:before {
    content: "\ea40";
}

.icon-add:before {
    content: "\e900";
}

.icon-clear:before {
    content: "\e901";
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'General Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.container {
    min-width: 264px;
    padding: 16px 24px;
    margin: 0 auto;
    height: 100vh;
}

.title {
    font-weight: 600;
    font-size: 1.143em;
    color: #4F5B67;
}

.main-block {
    margin-bottom: 24px;
}

.main-block__title {
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: left;
}

.main-block__title_flex-start {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main-block__title_flex-between {
    justify-content: space-between;
}

.custom-grout-color-block__add-color-icon {
    color: #4F5B67;
    display: flex;
    align-items: center;
}

.custom-grout-color-block__add-color-icon>.icon-add {
    cursor: pointer;
    font-weight: 600;
}

.custom-grout-color-block__selected-color {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main-block__select-color-item {
    width: 24px;
    height: 24px;
    /* margin-right: 12px; */
    border: 2px solid #FFFFFF;
    border-radius: 1px;
    /* background: transparent;
    border: 1px solid grey; */
}

.main-block__select-color-item:nth-child(n+2) {
    margin-left: 8px;
}

.main-block__select-color-item_active {
    border: 2px solid #94CEA3;
}

.custom-grout-color-block__selected-color-text {
    /* font-size: 1.143em; */
    color: #4F5B67;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 8px;
}

.custom-grout-color-block__modul-window {
    visibility: hidden;
    height: 0;
}

.custom-grout-color-block__modul-window-show {
    visibility: visible;
    position: absolute;
    /* top: 35%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.modul-window {
    min-width: 264px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
    border: 0.5px solid rgba(234, 236, 238, 0.5);
    border-radius: 4px;
    padding: 0;
}

.modul-window__header {
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.modul-window__header>.icon-clear {
    color: #4F5B67;
    font-weight: 600;
    cursor: pointer;
}

.modul-window__picker {
    width: 100%;
}

.modul-window__picker-window {
    margin-bottom: 24px;
}

.modul-window__action-zone {
    margin: 24px;
    margin-bottom: 12px;
}

.modul-window__closest-grout-color {
    margin: 0 24px;
    margin-bottom: 24px;

}

.modul-window__title {
    margin-bottom: 16px;
}

.grout-color-block__select-colors {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.button {
    margin: 0 auto;
    border-radius: 4px;
    padding: 13px 20px;
    text-align: center;
    width: 100%;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.button_active {
    background: #4CAD66;
    color: #FFFFFF;
}

.modul-window__picker .custom-chrome-picker {
    width: 100% !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    box-sizing: initial !important;
    /* font-family: Menlo; */
    margin-bottom: 15px;
}

.flexbox-fix:nth-child(2) {
    display: none !important;
}


/* media-queries */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}